<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="N3DSCmbViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="AglexTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <N3DSCmbViewer.Properties.Settings>
            <setting name="LastFile" serializeAs="String">
                <value />
            </setting>
            <setting name="AddWireframeOverlay" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableTextures" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VSync" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableHUD" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DisableAllShaders" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableLighting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisableAlpha" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableSkeletalStuff" serializeAs="String">
                <value>False</value>
            </setting>
        </N3DSCmbViewer.Properties.Settings>
        <AglexTest.Properties.Settings>
            <setting name="LastFile" serializeAs="String">
                <value />
            </setting>
            <setting name="AddWireframeOverlay" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableTextures" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VSync" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableHUD" serializeAs="String">
                <value>True</value>
            </setting>
        </AglexTest.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="OpenTK" publicKeyToken="bad199fe84eb3df4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
